<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="College Navigator"
        android:roundIcon="@drawable/collegenavigatorlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testapp"
        tools:targetApi="31">

        <activity
            android:name=".App_Dashboard"
            android:exported="false" /> <!-- Login Activity -->

        <activity
            android:name=".Login"
            android:exported="false" /> <!-- Signup Activity -->

        <activity
            android:name=".Signup"
            android:exported="false" /> <!-- Splashscreen Activity -->

        <activity
            android:name=".Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Testapp" />

        <activity android:name=".CollegePredictorActivity"
            android:exported="false"/>

    </application>

</manifest>